/Jira/bin
/Jira/obj
/Models/obj
/Models/bin
/Sculpt/bin
/Sculpt/obj
/Slack/obj
/Slack/bin
/SQS/bin
/SQS/obj
/Templates/bin
/Templates/obj
/Sculpt/appsettings.json
/.vs/Sculpt/DesignTimeBuild/.dtbcache
/.vs/Sculpt/v15/.suo
/.vs/Sculpt/v15/Server/sqlite3/db.lock
/.vs/Sculpt/v15/Server/sqlite3/storage.ide
/.vs/Sculpt/v15/Server/sqlite3/storage.ide-shm
/.vs/Sculpt/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
